* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

body {
    background-color: #12181B;
    height: 100%;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.wrapper {
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 1em 0;
}

.hide {
    /* TODO : make it wrapper none */
    display: none;
}

.tiles-container {
    /* TODO : make it in the center of the page */
    /* TODO : make it grid and make sure that the column and row contain 3 items and each item is 1fr */
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    max-width: 300px;
}

.tile {
    /* TODO : set the border with white solid 1px */
    border: 1px white solid;
    width: 100px;
    height: 100px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 100px;
}

.playerX {
    /* TODO : choose the color you want for player X */
    color: #FF3860;
}

.playerO {
    /* TODO : choose the color you want for player O */
    color: rgb(20, 108, 230);
}

.reset-div {
    text-align: center;
    margin-top: 1em;
}

#reset {
    background-color: #FF3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}